<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kahoot!</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/js.js"></script>
</head>
<body onload="empezarContador()">
    <main>
        <div class="showcase-area">
            <div class="container"style="background-color: white; padding:50px; border-radius: 20px; margin-top: 20px;">
                <div class="left">
                    <h3>Ingresa al siguiente url: </h3>
                </div>
                <div class="right">
                    <h3 style="color: #64bcf4; text-align: right;">10.100.101.182</h3>
                </div>
            </div>
        </div>
        <div class="tablita">
            <p style="margin-top: 80px; margin-left: 45%;" class="text">+</p>
        </div>
    </main>
    <img src="/img/shape.png" alt="" class="shape"/>
</body>
</html>
